.sendContent {
  margin: 50px 20px;
  padding: 2px 5px;
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 7px;
  background-color: palevioletred;
  transition: 0.5s;
}
.sendContent p {
  transition: 0.5s;
}
.sendContent:hover {
  background-color: paleturquoise;
  height: 50px;
  width: 150px;
  transition: 1s;
}
.sendContent:hover p {
  transition: 1s;
  font-size: 30px;
}
.content .nome {
  position: relative;
}
.content .ageh4 {
  position: relative;
  grid-row: auto;
}
